:root {
    --color-beige: #f1cdb3;
    --color-beige-light: #fddcc4;
    --color-grey: #cdcdcd;
    --color-black: #545454;
    --color-black-dark: #292929;
}


*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    user-select: none;
}
*::-webkit-scrollbar {
    width: 0;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    scroll-behavior: smooth;
    background-color: white;
    min-height: 100vh;
    font-size: 16px;
    line-height: normal;
    color: var(--color-black);
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

@font-face {
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    src: url("../../assets/fonts/ArialMT.woff") format("woff");
}

@font-face {
    font-family: Arial;
    font-weight: 400;
    font-style: italic;
    src: url("../../assets/fonts/Arial-ItalicMT.woff") format("woff");
}

@font-face {
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    src: url("../../assets/fonts/Georgia.woff") format("woff");
}

@font-face {
    font-family: Georgia;
    font-weight: 600;
    font-style: normal;
    src: url("../../assets/fonts/Georgia-Bold.woff") format("woff");
}

.material-icons {
    font-size: 18px;
    font-family: "Material icons", emoji;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template: 120px auto 350px / 1fr minmax(auto, 1280px) 1fr;
}

.header {
    grid-area: 1 / 2;
    position: relative;
    color: white;
}

.header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 908px;
    background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);
}

.header__background::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/img/bgimage.png");
}

.header__container {
    position: relative;
    z-index: 1;
    height: 120px;
    padding: 60px 40px 0;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 184px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    cursor: pointer;
    overflow: hidden;
    animation: logo-disappear 0.5s ease-in-out forwards;
}

@keyframes logo-disappear {
    0% {
        width: 184px;
        position: fixed;
        top: 30px;
        right: 126px;
        z-index: 30;
    }

    25% {
        width: 0;
        position: fixed;
        top: 30px;
        right: 126px;
        z-index: 30;
    }

    50% {
        width: 0;
        position: relative;
        top: 0;
        right: 0;;
    }

    100% {
        width: 184px;
        position: relative;
        top: 0;
        right: 0;
    }
}

.header__logo h1 {
    font-family: Georgia, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    white-space: nowrap;
    color: var(--color-beige);
}

.header__logo span {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;
    white-space: nowrap;
}

.header__menu {
    width: 443px;
    height: 60px;
    display: flex;
    align-items: center;
}

.header__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__link {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: var(--color-grey);
    cursor: pointer;
    transition: 0.3s;
    padding-bottom: 3px;
}

.header__link-active::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    background-color: var(--color-beige);
    transition: 0.3s;
}

.header__link:hover {
    color: white;
}

.header__link-active {
    color: white;
}

.header__link-active::before {
    position: absolute;
    animation: appear 0.3s ease-in-out forwards;
    width: 100%;
}

@keyframes appear {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.main {
    margin-top: 60px;
    grid-area: 2 / 2;
    display: grid;
    justify-self: center;
    grid-template: repeat(4, auto) / minmax(auto, 1280px);
}

.make-friend {
    height: 728px;
    padding: 0 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.make-friend__bg {
    height: 728px;
    width: 698px;
    object-fit: cover;
}

.make-friend__items {
    padding: 163px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 42px;
}

.section__header {
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: var(--color-black);
}

.make-friend__header {
    width: 310px;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0;
    text-align: left;
    color: white;
}

.main__text {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

.make-friend__text {
    width: 460px;
    color: var(--color-grey);
}

.button {
    font-family: Georgia, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    height: 52px;
    width: 207px;
    color: var(--color-black-dark);
    border-radius: 100px;
    cursor: pointer;
    background: var(--color-beige);
    transition: 0.3s;
}

.button:active {
    transform: scale(0.95);
}

.make-friend__button {
    width: 207px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background: var(--color-beige-light);
}

